/* default behavior */

/* .article {
  display: inline-flex;
  border: 2px solid red;
  width: 45%;
  flex-direction: column;
  align-items: flex-start;
}

.labelStyle {
  text-transform: capitalize;
  font-style: italic;
}

.field {
  width: 50%;
  font-size: 18px;
  padding-left: 10px;
  border: 2px solid black;
} */
