.formWrapper {
  /* position: relative; */
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 500px;
  padding: 30px;
  margin-top: 50px;
  /* border: 2px black solid; */
  background: rgb(243, 243, 239);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 1px 10px 1px grey;
}

.form .submitButton {
  width: 100px;
  padding: 5px 10px;
  margin: 30px 0;
  border: 1px solid lightgray;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  background: rgb(10, 192, 116);
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  box-shadow: 3px 1px 10px 1px grey;
}

.form .submitButton:hover{
  cursor: pointer;
}

.form .submitButton:disabled {
  background: grey;
}

.inputGroupWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroupTitle {
  color: purple;
  font-size: 30px;
}

.inputGroupContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inputArticle:nth-child(1),
.inputArticle:nth-child(2),
.inputArticle:nth-child(4){
  height: 80px;
}
.inputArticle:nth-child(4){
  margin-top: 30px;
}

.inputField {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  box-shadow: 3px 1px 10px 1px grey;
  outline: none;
}

.error {
  width: 100%;
  font-size: 13px;
  color: red;
  text-align:center;
}

.newRegisterLogin,
.newRegisterLogin a{
  font-size: 12px;
  text-decoration: none;
}

.newRegisterLogin{
  color: grey;
  font-weight: 600;
}

.newRegisterLogin a{
  font-weight: 600;
  font-family: URW Chancery L, cursive;
  color: purple;
}
